@model IEnumerable<BlackJack.BLL.ViewModels.PlayerViewModel>
@{
  ViewBag.Title = "GameSession";
}
<h2>Black Jack</h2>

<div id="playerTable">
  @Html.Partial("_PlayersTable", Model);
</div>

@using (Ajax.BeginForm("DrawCard", new AjaxOptions { UpdateTargetId = "playerTable" }))
{
  <input type="submit" value="Draw" />
}
