@model IEnumerable<BlackJack.BLL.ViewModels.PlayerViewModel>
@{
  ViewBag.Title = "Winner";
}

<h2>WINNERS !</h2>


<table id="playerTable" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>

    @foreach (var p in Model)

    {

      <tr>
        <td>@p.Name</td>
        <td>@p.Status</td>
        <td>@p.Count</td>
      </tr>

    }
  </tbody>
</table>

@using (Html.BeginForm("Index", "Home"))
{
  <input type="submit" value="Start new round" />
}
